package {{package}};

import cd.connect.jersey.client.JaxrsClientModule;

{{#apiInfo}}
  // plain resources
  {{#apis}}
import {{apiPackage}}.{{classname}};
  {{/apis}}
{{/apiInfo}}
import java.util.stream.Stream;

public class {{serviceName}} extends JaxrsClientModule {
  @Override
  public void register() {
    targetUrl = "{{{serviceAddress}}}";

{{#apiInfo}}
    target({{#apis}}
      {{classname}}.class{{^-last}}, {{/-last}}
    {{/apis}});
{{/apiInfo}}
  }
}
