public enum {{classname}} {
    {{#allowableValues}}{{#values}}{{{.}}}("{{{.}}}"){{^-last}},
        {{/-last}}{{#-last}};{{/-last}}{{/values}}{{/allowableValues}}

        private String value;

        {{classname}}(String value) {
          this.value = value;
        }

        @Override
        @JsonValue
        public String toString() {
          return value;
        }
}